html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

table {
    border: 3px black solid;
    border-collapse: collapse;
    overflow-x: auto;
}

#schedule-table {
    text-align: center;
    width: 90%;
}

#key-table {
    text-align: left;
}

@media (min-width:601px){
    #key-table {
        width: 30%;
    }
}

@media (max-width:600px) {
    #key-table {
        width: 50%;
    }
}

th {
    border-bottom: 2px black solid;
    border-left: 1px black solid;
    background-color: lightgray;
}

td {
    border: 1px black solid;
    position: relative;
}
